[Desktop Entry]
Name=ijevim
Comment=A minimal Vim-like TUI editor written in Rust
Exec=ijevim %F
Icon=ijevim
Terminal=true
Type=Application
Categories=Development;TextEditor;
StartupNotify=true
MimeType=text/plain;
